.DS_Store
getrecommended-creds.sh

wip/*
archive
archive/*
__pycache__
__pycache__/*

.playwright-mcp/

ucs-docs-raw/json/*
ucs-docs-raw/html/*
ucs-docs-raw/pdf/*
ucs-docs-raw/other/*

.apikey

recommended-firmware/htmlfiles/*
recommended-firmware/jsonfiles/*

